# global stuff
.DS_Store
Thumbs.db
*.log
logs/
/logs/
Log-*.txt
*/pem

.env
.env.*
.env.local
.env.development
.env.production
.env.test

**/node_modules/
**/dist/
**/.cache/

# backend stuff
/acceloka-backend-api/bin/
/acceloka-backend-api/obj/
acceloka-backend-api/*.db
acceloka-backend-api/*.db-journal
acceloka-backend-api/*.sqlite
acceloka-backend-api/*.sqlite3

acceloka-backend-api/.vs/
acceloka-backend-api/.idea/
.vscode/

*.suo
*.user
*.userosscache
*.rsuser

acceloka-backend-api/appsettings*.json
acceloka-backend-api/appsetings.json
acceloka-backend-api/appsetings.Development.json

# frontend stuff
/acceloka-frontend/node_modules/
/acceloka-frontend/.next/
/acceloka-frontend/out/
/acceloka-frontend/build/
acceloka-frontend/next-env.d.ts
acceloka-frontend/*.tsbuildinfo
acceloka-frontend/.vercel/
acceloka-frontend/npm-debug.log*
acceloka-frontend/yarn-debug.log*
acceloka-frontend/yarn-error.log*
acceloka-frontend/.pnpm-debug.log*