@import "tailwindcss";

@theme {
  --color-white-900: #FFF;
  --color-black-900: #000;
  --color-primary-900: #0091EE;
  --color-secondary-900: #011C2F;
  --color-accent-primary-900: #8E8E93;
  --color-accent-secondary-900: #CCCCCC;
  --color-accent-tertiary-900: #E0E0E0;
  --color-accent-quarternary-900: #F2F2F7;
  --color-dark-green-900: #045C1A;
  --color-red-900: ##EC3A3E;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  font-family: 'Century Gothic';
}