@import "tailwindcss";

@theme {
  --color-white-900: #fff;
  --color-black-900: #000;
  --color-primary-50: #e6f4ff;
  --color-primary-100: #bae3ff;
  --color-primary-200: #8fd1ff;
  --color-primary-300: #64c0ff;
  --color-primary-400: #39aeff;
  --color-primary-500: #0091ee;
  --color-primary-600: #0073bb;
  --color-primary-700: #005588;
  --color-primary-800: #003855;
  --color-primary-900: #011c2f;
  --color-secondary-900: #011c2f;
  --color-secondary-800: #022e4f;
  --color-secondary-700: #034372;
  --color-secondary-600: #03538d;
  --color-secondary-500: #0362a7;
  --color-secondary-400: #0481dd;
  --color-secondary-300: #61bafc;
  --color-secondary-200: #9fd6fd;
  --color-secondary-100: #c5e6fe;
  --color-secondary-50: #e3f3ff;
  --color-accent-primary-900: #8e8e93;
  --color-accent-secondary-900: #cccccc;
  --color-accent-tertiary-900: #e0e0e0;
  --color-accent-quarternary-900: #f2f2f7;
  --color-dark-green-900: #045c1a;
  --color-red-900: #4b070a;
  --color-red-800: #6c0b10;
  --color-red-700: #870e14;
  --color-red-600: #af121a;
  --color-red-500: #dd1721;
}

@theme inline {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;
  --color-primary: 0 0% 0%;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: 210 40% 96%;
  --color-secondary-foreground: 222.2 84% 4.9%;
  --color-muted: 210 40% 96%;
  --color-muted-foreground: 215.4 16.3% 46.9%;
  --color-accent: 210 40% 96%;
  --color-accent-foreground: 222.2 84% 4.9%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
}

.dark {
  @theme inline {
    --color-background: 255 25% 25%;
    --color-foreground: 210 40% 98%;
    --color-card: 222.2 84% 4.9%;
    --color-card-foreground: 210 40% 98%;
    --color-popover: 222.2 84% 4.9%;
    --color-popover-foreground: 210 40% 98%;
    --color-primary: 217.2 91.2% 59.8%;
    --color-primary-foreground: 222.2 84% 4.9%;
    --color-secondary: 217.2 32.6% 17.5%;
    --color-secondary-foreground: 210 40% 98%;
    --color-muted: 217.2 32.6% 17.5%;
    --color-muted-foreground: 215 20.2% 65.1%;
    --color-accent: 217.2 32.6% 17.5%;
    --color-accent-foreground: 210 40% 98%;
    --color-destructive: 0 62.8% 30.6%;
    --color-destructive-foreground: 210 40% 98%;
    --color-border: 217.2 32.6% 17.5%;
    --color-input: 217.2 32.6% 17.5%;
    --color-ring: 224.3 76.3% 94.1%;
  }
}

.font-century-gothic {
  font-family: var(--font-century-gothic);
}

.no-scroll {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  caret-color: var(--color-primary-50);
  caret-shape: block;
}

::selection {
  background-color: var(--color-primary-50);
  color: var(--color-secondary-900);
}
